@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.clock {
    font-family: 'Share Tech Mono', monospace;
}

.weather-card {
    min-width: 100px;
    min-height: 180px;
    padding-top: 20px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.uv-badge {
    font-weight: bold;
    border-radius: 8px;
    margin-top: 5px;
    padding: 2px 6px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    min-width: 35px;
}

.precipitation-amount {
    min-height: 1.2em; /* reserve space for 1 line of text */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0163BF;
    font-weight: bold;
}

.precipitation-amount p {
    margin: 0; /* remove default <p> spacing */
}

.location-title {
    padding-bottom: 13px;
}
